Authlib==1.6.11
Flask-Assets==2.1.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-SSLify==0.1.5
Flask-SeaSurf==2.0.0
Flask-Session==0.8.0
Flask==3.1.3
standard-imghdr==3.13.0
Jinja2==3.1.6
PyYAML==6.0.3
SQLAlchemy==2.0.49
#alembic==1.9.0
bcrypt==4.3.0
bravado-core==5.17.1
certifi==2024.12.14
cffi==2.0.0
configobj==5.0.9
cryptography==46.0.7
cssmin==0.2.0
dnspython>=2.3.0
flask_session_captcha==1.5.0
gunicorn==22.0.0
itsdangerous==2.2.0
jsonschema[format]>=2.5.1,<4.0.0 # until https://github.com/Yelp/bravado-core/pull/385
lima==0.5
--use-feature=no-binary-enable-wheel-cache lxml==4.9.0
mysqlclient==2.2.8
passlib==1.7.4
#pyOpenSSL==22.1.0
pyasn1==0.6.3
pyotp==2.9.0
pytest==9.0.3
python-ldap==3.4.5
python3-saml==1.16.0
pytimeparse==1.1.8
pytz==2022.7.1
qrcode==7.4.2
requests==2.33.1
rjsmin==1.2.5
webcolors==1.13
werkzeug==3.1.8
zipp==3.23.1
rcssmin==1.2.2
zxcvbn==4.5.0
psycopg2==2.9.11
setuptools==78.1.1
redis==8.0.1
